<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
<head>
   <title>Tarefas</title>    
</head>
	<section layout:fragment="conteudo" class="conteudo" data-ng-controller="Tarefas">
		<div layout:include="MensagemGeral"></div>
		<div class="row row-fluid">
		   <div class="col-md-3 col-sm-6">
		     <div class="icon-stat">
		       <div class="row">
		          <div class="col-xs-8 text-left">
		            <span class="icon-stat-label">Total de Usuários</span> <!-- /.icon-stat-label -->
		            <span class="icon-stat-value">{{totais.totalUsuarios || 0}}</span> <!-- /.icon-stat-value -->
		          </div><!-- /.col-xs-8 -->
		
		          <div class="col-xs-4 text-center">
		            <i class="glyphicon glyphicon-user icon-stat-visual bg-primary"></i> <!-- /.icon-stat-visual -->
		          </div><!-- /.col-xs-4 -->
		        </div><!-- /.row -->
		
		        <div class="icon-stat-footer">
		          <a href="/usuarios/novo"><i class="glyphicon glyphicon-plus"></i> Cadastrar Usuário</a>
		        </div>
		
		      </div> <!-- /.icon-stat -->
		    </div> <!-- /.col-md-3 -->
		
		    <div class="col-md-3 col-sm-6">
		      <div class="icon-stat">
		        <div class="row">
		          <div class="col-xs-8 text-left">
		            <span class="icon-stat-label">Total de Tarefas</span> <!-- /.icon-stat-label -->
		            <span class="icon-stat-value">{{totais.totalTarefas || 0}}</span> <!-- /.icon-stat-value -->
		          </div><!-- /.col-xs-8 -->
		
		          <div class="col-xs-4 text-center">
		            <i class="glyphicon glyphicon-tasks icon-stat-visual bg-green"></i> <!-- /.icon-stat-visual -->
		          </div><!-- /.col-xs-4 -->
		        </div><!-- /.row -->
		
		        <div class="icon-stat-footer">
		          <a href="/tarefas/novo"><i class="glyphicon glyphicon-plus"></i> Cadastrar Tarefa</a>
		        </div>
		      </div> <!-- /.icon-stat -->
		    </div> <!-- /.col-md-3 -->
		
		    <div class="col-md-3 col-sm-6">
		      <div class="icon-stat">
		        <div class="row">
		          <div class="col-xs-8 text-left">
		            <span class="icon-stat-label">Tarefas em Atraso</span> <!-- /.icon-stat-label -->
		            <span class="icon-stat-value">{{totais.tarefasEmAtraso || 0}}</span> <!-- /.icon-stat-value -->
		          </div><!-- /.col-xs-8 -->
		
		          <div class="col-xs-4 text-center">
		            <i class="glyphicon glyphicon-time icon-stat-visual bg-tertiary"></i> <!-- /.icon-stat-visual -->
		          </div><!-- /.col-xs-4 -->
		        </div><!-- /.row -->
		
		        <div class="icon-stat-footer">
		          Verifique seus atrasos
		        </div>
		
		      </div> <!-- /.icon-stat -->
		    </div> <!-- /.col-md-3 -->
		
		    <div class="col-md-3 col-sm-6">
		
		      <div class="icon-stat">
		
		        <div class="row">
		          <div class="col-xs-8 text-left">
		            <span class="icon-stat-label">Tarefas Entregues</span> <!-- /.icon-stat-label -->
		            <span class="icon-stat-value">{{totais.tarefasEntregues || 0}}</span> <!-- /.icon-stat-value -->
		          </div><!-- /.col-xs-8 -->
		
		          <div class="col-xs-4 text-center">
		            <i class="glyphicon glyphicon-ok icon-stat-visual bg-default"></i> <!-- /.icon-stat-visual -->
		          </div><!-- /.col-xs-4 -->
		        </div><!-- /.row -->
		
		        <div class="icon-stat-footer">
		          Atualize suas tarefas
		        </div>
		      </div> <!-- /.icon-stat -->
		    </div> <!-- /.col-md-3 -->
		</div>
		
	   	<div class="panel panel-default">
	   		<div class="panel-heading">
	      		<div class="clearfix">
		      		<h1 class="panel-title pull-left nopadding">Lista de Tarefas</h1>
		      		<a href="/tarefas/novo" class="btn btn-link pull-right nopadding">Nova Tarefa</a>
	      		</div>
	      	</div>
	      	
	      	<div class="panel-body">
	      		<div class="row">
	      			<div class="col-md-6">
				      	<div class="form-group col-md-6 busca">
						    <div class="input-group">
						      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
						      <input type="text" class="form-control" id="busca" placeholder="Busca por tarefas" data-ng-model="busca"/>
						    </div>
						</div>
					</div>
					<div class="col-md-6 text-right legenda">
						<div class="label label-default">Legenda:</div><br />
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Iniciar Tarefa
						<span class="glyphicon glyphicon-remove text-red" aria-hidden="true"></span> Excluir
						<span class="glyphicon glyphicon-check text-green"></span> Finalizar Tarefa
					</div>
				</div>
				
		      	<table class="table table-bordered table-striped">
	      			<thead>
	      				<tr>
	      					<th class="text-center col-md-1">#</th>
	      					<th>Decrição</th>
	      					<th class="text-center col-md-2">Usuario</th>
	      					<th class="text-center col-md-2">Data Inicio</th>
	      					<th class="text-center col-md-2">Data Fim Prevista</th>
	      					<th class="text-center col-md-2">Status</th>
	      					<th class="col-md-1"></th>
	      				</tr>
	      			</thead>
	      			<tbody>
		      			<tr data-ng-repeat="(key, tarefa) in tarefas | filter:{tarefaDescricao:busca}">
	      					<td class="text-center">{{tarefa.id}}</td>
	      					<td>{{tarefa.tarefaDescricao}}</td>
	      					<td class="text-center">{{tarefa.usuario.usuarioNome}}</td>
	      					<td class="text-center">{{tarefa.dataInicioTarefa | date: 'dd/MM/yyyy'}}</td>
	      					<td class="text-center">{{tarefa.dataFimTarefa | date: 'dd/MM/yyyy'}}</td>
	      					<td class="text-center status{{tarefa.id}}">
	      						<span class="label" data-ng-class="tarefa.color">{{tarefa.status}}</span>
	      					</td>
	      					<td class="text-right">
	      						<a class="btn btn-link btn-xs" data-ng-click="iniciarTarefa(tarefa)"
	      						title="Iniciar Tarefa" rel="tooltip" data-placement="top" href="" data-ng-if="tarefa.pendente">
	      							<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
	      						</a>
	      						<a class="btn btn-link btn-xs text-green" data-ng-click="finalizarTarefa(tarefa)" data-ng-if="tarefa.iniciada" 
	      						 	title="Finalizar" rel="tooltip" data-placement="top">
	   								<span class="glyphicon glyphicon-check"></span>
	   							</a>
	      						<a class="btn btn-link btn-xs text-red" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   								data-id="{{tarefa.id}}" data-acao="/tarefas/" title="Excluir" rel="tooltip" data-placement="top">
	      							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	      						</a>
	      					</td>
		      			</tr>
	      				<tr>
	      					<td data-ng-if="!tarefas" colspan="6">Nenhum registro encontrado</td>
	      				</tr>
	      			</tbody>
	      		</table>
	      	</div>
	      	
	      	<div layout:include="DialogoConfirmacaoExclusao"></div>
	      	
	   </div>
   </section>
</html>
